.App {
  text-align: center;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.App .user-preview {
  display: flex;
  border: 1px black solid;
  margin: 10px;
}

.App .info {
  display: flex;
}

.App .profile-picutre img {
  border: 1px black solid;
  margin: 10px;
}