*{
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.App .user-preview h1 {
  font-size: 32px;
  padding: 12px 20px;
  font-weight: 700;
}

p {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

p span {
  font-weight: 200;
}

.App .header {
  width: 800px;
}

.App .header h1 {
  font-size: 40px;
  font-weight: 600;
}

.App .header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.App .header-info ul {
  display: flex;
}

.App .header-info li {
  list-style-type: none;
  margin: 0px 4px;
  transition: all .2s ease-out;
}

.App .header-info ul li + li:before {
  content: "/ ";
}

.App .header-info ul li:hover {
  color: #EF8354;
}

.App .blackline {
  border-bottom: 1px #BFC0C0 solid;
  margin-bottom: 32px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .user-preview {
  width: 800px;
  display: flex;
  border: 1px #BFC0C0 solid;
  margin: 10px;
  transition: all .2s ease-out;
}

/* .App .user-preview:hover {
  width: 1000px;
} */

.App .info {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  justify-content: space-between;

}

.App .profile-picutre img {
  border: 1px #BFC0C0 solid;
  margin: 10px;
  border-radius: 50%;
  background-color: white;
}

.App .right-side {
  padding: 0;
  margin: 0;
  width: 100%;
}

.App .name {
  background-color: #D3DEDC;
  margin: 0;
  width: 100%;
}

.App .main-info {
  max-width: 50%;
}

.App .second-based-info {
  width: 50%;
}

.App .bighead {
  width: 100px;
  height: 100px;
  margin: 20px;
  border: 3px #2D3142 solid;
}

.App .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px #BFC0C0 solid;
  background-color: #4F5D75;
}